
* {
	margin: 0;
	padding: 0;
}

#button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#left {
	background: #FFD85B;
	padding: 20px;
	width: 20%;
	margin: 20px;
	margin-left:0px;
}

#center {
	background: #F5DEB3;
	padding: 10px;
	width: 60%;
	flex: 1;
	margin: 20px;
}

#right {
	background: #FFDAB9;
	padding: 10px;
	width: 20%;
	margin: 20px;
	margin-right:0px;
}

.seat {
	float: left;
	display: block;
	margin: 5px;
	background: #949494;
	width: 30px;
	height: 30px;
	border: 0.5px solid #858585;
	border-radius: 3px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 4px;
}

.seat-select {
	display: none;
}

.seat-select-vip {
	display: none;
}

.seat-select:checked+.seat {
	background: #00b509;
	border: 0.5px solid #03a103;
	border-radius: 3px;
}

.seat-select-vip:checked+.seat {
	background: #F7FF00;
	border: 0.5px solid #03a103;
	border-radius: 3px;
}

.screen {
	margin: 0;
	padding: 20px;
}

.cust-rows {
	margin: 30px;
	font-family: verdana;
	font-size: 14px;
}

.cust-rows ul {
	list-style: none;
}

.cust-rows ul li {
	margin-top: 30px;
}

.sc h1 {
	text-align: center;
	color: #FFFFFF;
	background-color: #fd003b;
	padding: 10px;
}

.sc h5 {
	font-family: verdana;
	text-align: center;
}


