<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Main page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<div id="left">
		<form action="getSessionsAdmin" method="post">
			<div align="center" th:object="${test}" style="margin-bottom: 30px;">

				<select id="testOrder" name="films">
					<option value="null">Select Film for Today</option>
					<option th:each="test : ${tests}" th:value="${test.id}"
						th:text="${test.id}+' : '+${test.title}"></option>
				</select> <input type="submit" value="Поиск сеансов" />
			</div>

		</form>
		<form action="reset" method="post">
			<div align="center" th:object="${seans}">
				<select id="testOrder" name="seans">
					<option value="">Select Session</option>
					<option th:each="seans : ${sessionListByFilm}"
						th:value="${seans.id}"
						th:text="${seans.id}+' : '+${seans.amountCash}"></option>
				</select> <input type="submit" value="Очистить" />
			</div>
		</form>
	</div>

</body>
</html>